# Add these only when connecting a new Supabase project in a future phase.
VITE_SUPABASE_URL=https://raopietgyksdmutnbpgd.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_sWr963QS5SquapsO_BeeFg_X3wSnpY7
